<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#id</th>
                <th>이 름</th>
                <th>학 급</th>
                <th>배포된 시험수</th>
                <th>가장 최근 시험</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.group.groupName}"></td>
                <td th:text="${student.distributeList.size()}"></td>
                <td th:onclick="|location.href='@{/distributions}'|"><p>클릭시 이동</p></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>