<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <form th:action="@{/words/question}" th:object="${QForm}" method="post">
        <div class="form-group">
            <label th:for="wordBook">단어장선택</label>
            <input type="text" th:field="*{wordBook}" placeholder="단어장 선택">
        </div>
        <div class="form-group">
            <label th:for="QuestionName">시험 이름</label>
            <input type="text" th:field="*{testName}" class="form-control">
        </div>
        <div class="form-group">
            <label th:for="s_range">시작 범위</label>
            <input type="number" th:field="*{start_range}" min="1" placeholder="최소 1">
            <label th:for="e_range">끝 범위</label>
            <input type="number" th:field="*{end_range}" max="60" placeholder="최대 100">
        </div>
        <div class="form-group">
            <label th:for="group">반 선택</label>
            <input type="text" th:field="*{group}" class="form-control"
                   placeholder="학급 선택">
        </div>
        <div class="form-group">
            <label th:for="cutline">커트라인 선택</label>
            <input type="number" th:field="*{cutLine}" class="form-control"
                   placeholder="단어 범위보다 작아야합니다">
        </div>
        <div class="form-group">
            <label th:for="testTime">제한 시간 선택</label>
            <input type="number" th:field="*{testTime}" min="1" max="30" class="form-control"
                   placeholder="1분~30분">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"></div>
</div> <!-- /container -->
</body>
</html>